body {
    background-color: blue;
}
.navvy {
    position: fixed;
    width: 100%; 
    border: 5px solid black;
    font-size: xx-large;
}
.Home { 
    position: relative;
}
.Aboutus {
position: relative;
left: 40%
}
.Owners {
    position: relative;
    left: 80%;
}
.opening {
    position: relative;
    left: 35%;
    text-align: center;
}
.lambo {
    position: absolute;
    display: block;
    width: 25%;
    height: 25%;
    bottom: 500px;
    border: 5px solid black;
    margin: 5px;
}
.Martin {
    position: relative;
    left: 690px;
    display: block;
    width: 25%;
    height: 25%;
    top: 90px;
    border: 5px solid black;
}
.bimmer {
position: relative; 
display: block;
width: 25%;
height: 25%;
left: 1400px;
bottom: 620px;
border: 5px solid black;
margin: -15px;
}