ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
.fixednav {
    position: sticky;
    top: 0;
    border: 3px solid black;
    max-width: fit-content;
}

.uno {

    position: relative;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    display: inline-block;
    padding: 15px;
}
body {
    background-color: gray; 
}
.img {
    float: left;
width: 30%;
height: 30%;
border: 5px solid rgba(30, 238, 3, 0.959);
padding: 5px;
}
.info {
    text-align: center;
    font-size: x-large;
    margin-left: 220px;
    margin-right: auto;
    padding: 10px;
}
.actext {
    font-size: x-large;
    padding: 15px;
    margin: 15px;
}
.coldwar {
    padding: 120px;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: fit-content;
    margin-bottom: -50px;
}
.img2 {
    width: 30%;
    height: 30%;
    padding: 5px;
    border: 5px solid rgb(92, 243, 4);
    float: left;
    margin: 10px;
    
}
.coldwartext {
    font-size: x-large;
    padding: 15px;
    margin: 5px;
}
.info2 {
    margin-left: 200px;
    margin-right: auto;
    font-size: x-large;
    text-align: center;
    padding: 10px;
}
.info3{
    margin-left: 200px;
    margin-right: auto;
    font-size: x-large;
    text-align: center;
    padding: 10px;
}
.miles {
    padding: 130px;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: fit-content;
    margin-bottom: -50px;
}
.img3 {
    width: 30%;
    height: 30%;
    padding: 5px;
    border: 5px solid rgb(92, 243, 4);
    float: left;
    margin: 10px;
}
.milestext {
    font-size: x-large;
    padding: 15px;
    margin: 5px;
    margin-top: 5px;
}