html { font-family: 'Aclonica', sans-serif;
}
.navvy {
    position: relative;
    top: 0;
    border: 3px solid black;
    max-width: fit-content;
    max-height: fit-content;
} 
.navbar {
    color: white;
    font-size: large;
}
.Branding {
    position: relative;
    color: white;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 50px;
    display: inline-block;
    padding: 15px;
}
body {
    background-color: darkblue;
}
.cars {
    font-size: 40px;
    color: white;
    text-align: center;
}
.lambo {
    float: left;
    width: 30%;
    height: 30%;
    border: 5px solid white;
    padding: 0px;
}
.Rari {
    width: 30%;
    position: right;
    height: 30%;
    padding: 0px;
    border: 5px solid white;
}
.Agera {
    float: left;
    width: 30%;
    height: 30%;
    border: 5px solid white;
}

.headliner {
    padding-left: 170px; /* I only did this to center all 3 images at the top of the webpage*/
}
.hours {
    color: white;
    max-width: fit-content;
    height: 50px;
    border: 5px solid white;
    margin-top: 20px;
}
.services {
    color: white;
    max-width: fit-content;
    height: 50px;
    border: 5px solid white;
    margin-top: -50px;
    border-collapse: collapse;
    font-size: xx-large;
    margin-left: 77%;
    margin-right: 0%;
}
.table > tr {
    color: white;
    max-width: fit-content;
    height: 50px;
    border: 5px solid white;
    margin-top: 20px;
    border: solid white;
}