#heading {
    text-align: center;
}
#grid {
    display: grid;
    height: 100px;
    grid-gap: 15px;
}
#box1 {
    background-color: blue;
    color: white;
    text-align: center;
    font-size: x-large;
    transition: background-color 0.5s linear 0.2s, width 0.2s linear;
}
#box2 {
    background-color: black;
    color: white;
    text-align: center;
    font-size: x-large;
    transition: background-color 0.5s linear 0.2s, width 0.2s linear;
}
#box3 {
    background-color: teal;
    color: white;
    text-align: center;
    font-size: x-large;
    transition: background-color 0.5s linear 0.2s, width 0.2s linear;
}
#box4 {
    background-color: brown;
    color: white;
    text-align: center;
    font-size: x-large;
    transition: background-color 0.5s linear 0.2s, width 0.2s linear;
}
#box5 {
    background-color: darkmagenta;
    color: white;
    text-align: center;
    font-size: x-large;
    transition: background-color 0.5s linear 0.2s, width 0.2s linear;
}
#box6 {
    background-color: seagreen;
    color: white;
    text-align: center;
    font-size: x-large;
    transition: background-color 0.5s linear 0.2s, width 0.2s linear;
}
#box1:hover {
    background-color: springgreen;
    color: black;
    height: 200px;
    width: 75%;
    border: 5px dotted red;
}
#box2:hover {
    background-color: teal;
    color: black;
    height: 400px;
    width: 50%;
    opacity: 0.5;
}
#box3:hover {
    background-color: crimson;
    color: yellow;
    font-size: xx-large;
    height: 350px;
    width: 80%;
    box-shadow: 10px 10px;
}
#box4:hover {
    background-color: navy;
    color: yellow;
    opacity: 0.2;
    width: fit-content;
    height: 300px;
    border: 5px solid lime;
}
#box5:hover {
    background-color: tomato;
    color: black;
    height: 650px;
    width: fit-content;
    border: 5px dotted black;
}
#box6:hover {
    background-color: chartreuse;
    color: black;
    width: 350px;
    border: 10px solid red;
}