#container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}
#block1 {
    background-color: purple;
    height: 50px;
    grid-column: 1 / 4;
    }
#block2 {
    background-color: teal;
    grid-column: 4 / 6;
    height: 50px;
}
#block3 {
    background-color: blue;
    height: 50px;
    grid-column: 1 / 2;
}
#block4 {
    background-color: greenyellow;
    height: 50px;
    grid-column: 2 / -1;
}
#block5 {
    background-color: gray;
    height: 50px;
    grid-column: 1 / -1;
}
#container2 {
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 100px;
}
#block6 {
    background-color:pink;
    grid-column: 1 / -1;
    height: 100px;
    grid-row: 1 / 2;
}
#block7 {
    background-color: saddlebrown;
    height: 400px; 
    grid-column: 1 /3;
    grid-row: 2 / 3;
}
#block8 {
    background-color: crimson;
    height: 200px;
    grid-column: 3 / 5;
    grid-row: 2 / 2;
}
#block9 {
    background-color: darkcyan;
    height: 200px;
    grid-column: 4 / -1;
    grid-row: 8 / 10;
    margin-top: 50px;
}
#block10 {
    background-color: hotpink;
    height: 200px;
    grid-column: 3 / 4;
    grid-row: 9 / 8;
    margin-top: 50px;
} 
